/* index styling */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-yellow: #FFA31A;
    --color-gray: #808080;
    --color-gray2: #282828;
    --color-gray3: #080808;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black2: #111;
    --color-red1: #ec2d2a;
    --color-red2: #efd5d5;
}

.max-width{
    max-width: 1980px;
    padding: 0 80px;
    margin: auto;
}

/*home section*/

.home{
    display: flex;
    background: url(Assets/Fav.com_indexbg.png) no-repeat center;
    height: 100vh;
    color: var(--color-white);
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: var(--color-red1);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-red1);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-red1);
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: var(--color-white);
    background: var(--color-red1);
}

.scrollup{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color-red1);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--color-white);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scrollup.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.about-section{
    padding: 120px 0;
    color: var(--color-white);
    background: var(--color-gray3);
}

.about-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title{
    padding: 0;
}

.about-section .about-details{
    max-width: 50%;
}

.about-section .about-details .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link{
    font-size: var(--font-size-l);
    transition: 0.2s ease;
    color: var(--color-white);
}

.about-section .social-link-list .social-link:hover{
    color: var(--color-red1);
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* contact section */
.contact{
    padding-top: 50px;
    color: var(--color-white);
    background-color: var(--color-black2);
}

.contact .title{
    font-family: 'Ubuntu',sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn2{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 600;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--color-red1);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color-red1);
    transition: 0.5s;
    color: var(--color-black);
    display: inline-block;
    background: var(--color-red1);
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    font-family:'Poppins',sans-serif;
    width: 100%;
    border: 0;
    outline: none;
    background: var(--color-gray2);
    padding: 15px;
    margin: 15px 0;
    color: var(--color-white);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

form .btn2:hover{
    color: var(--color-red1);
    display: inline-block;
    background: var(--color-black2);
    border: 2px solid var(--color-red1);
}

.footer-section{
    text-align: center;
    font-size: var(--font-size-m);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: var(--white-color);
    padding: 20px 0;
    background: var(--color-black);
    font-weight: var(--font-weight-bold);
}
.footer-section p{
    color: var(--color-white);
}

.footer-section span{
    color: red;
}